/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Eric Mayers's Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Eric Mayer's reset Ends here */

html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}
#navbar {
	position: fixed;
	min-width: 290px;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	border-right: solid;
	border-color: rgba(0, 22, 22, 0.4);
}
header {
	color: black;
	margin: 10px;
	text-align: center;
	font-size: 1.8em;
	font-weight: thin;
}

/*====================
	  Side Nav        
=====================*/

#navbar ul {
	height: 88%;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
#navbar li {
	color: #4d4e53;
	border-top: 1px solid;
	list-style: none;
	position: relative;
	width: 100%;
}
#navbar a {
	display: block;
	padding: 10px 30px;
	color: #4d4e53;
	text-decoration: none;
	cursor: pointer;
}
/*=====================
	Main Document      
=======================*/

#main-doc header {
	text-align: left;
	margin: 0;
}
#main-doc {
	position: absolute;
	margin-left: 310px;
	padding: 20px;
	margin-bottom: 110px;
}
h3 {
	font-size: 1.75em;
	color: #22e355;
	margin: 10px 2px;
	padding: 0px 5px;
}
h4 {
	font-size: 1.25em;
	color: #63eba0;
	margin: 5px 2px;
	padding: 0px 3px;
}
i {
	font-style: italic;
	color: cadetblue;
}
strong {
	font-style: normal;
	font-weight: bold;
}
p {
	margin: 1.75em;
}
section article {
	color: #4d4e53;
	margin: 15px;
	font-size: 1.0em;
}
section li {
	margin: 15px 0px 0px 20px;
	list-style: square;
}
code {
	display: block;
	text-align: left;
	white-space: pre;
	position: relative;
	word-break: normal;
	word-wrap: normal;
	line-height: 2;
	background-color: #f4f4f4;
	padding: 15px;
	margin: 10px;
	border-radius: 5px;
}
figcaption {
	margin-top: -2px;
    color: #98a39c;
}
/* For Mobile Phones: */

@media only screen and (max-width: 815px) {
	#navbar ul {
		border: 1px solid;
		height: 207px;
	}
	#navbar {
		 background-color: #fff;
		 position: absolute;
		 top: 0;
		 padding: 0;
		 width: 100%;
		 max-height: 275px;
		 border: none;
		 z-index: 1;
		 border-bottom: 2px solid;
	}
	#main-doc {
		position: relative;
		margin-left: 0;
		margin-top: 270px;
	}
}
@media only screen and (max-width: 400px) {
	#main-doc {
		margin-left: -10px;
	}
	code {
		margin-left: -20px;
		width: 100%;
		padding: 15px;
		padding-left: 10px;
		padding-right: 45px;
		min-width: 233px;
	}
}